.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #2c2c2c; /* Dark grey */
    color: #ffffff; /* White text */
  }
  
  .logo img {
    height: 40px;
  }
  
  .title {
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff; /* White text */
  }
  
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-logo {
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    filter: invert(100%); /* Invert colors for dark theme */
  }